{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block title %}
    {{ block.super }} - {{ title }}
{% endblock%}

{% block container %}
    <div class="container clearfix">
        <div class="hero-back">
            {% include 'mainapp/includes/inc__main_menu.html' %}
            <div class="h2">Ваши покупки</div>
        </div>
        <!-- ====== CONTENT ====== --> 
        <div class="content">
            {#{ request.resolver_match }#}
            {% for item in basket %}
                <p>{{ item.product.name }} - {{ item.quantity }} - {{ item.product.price }}</p>
            {% endfor %}
            <p>Всего единиц товара: {{ count_product }} На общую сумму: {{ total }}</p>
        </div>    <!-- ====== CONTENT END ====== -->
    </div>     <!-- ====== CONTAINER END ====== -->
{% endblock%}