<table>
    <thead>
    <tr>
        <th scope="col">Товар</th>
        <th scope="col">Наименование</th>
        <th scope="col">Цена</th>
        <th scope="col">К-во</th>
        <th scope="col">Стоимость</th>
    </tr>
    </thead>
    <tbody>
    {% for item in basket %}
    <tr>
        <th scope="row"><img class="img_min" src="/media/{{ item.product.image }}" alt=""></th>
        <td>{{ item.product.name }}</td>
        <td class="td-price">{{ item.product.price }}</td>
        <td class="td-qty">
            <input type="number" name="{{ item.pk }}" min="0" value="{{ item.quantity }}">
            <a href="{% url 'basket:product_del' item.pk %}">
                <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
            </a>
        </td>
        <td class="td-total">{{ item.product_cost }}</td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4">Всего единиц товара</td>
        <td class="td-qty">{{ basket.0.total_quantity }}</td>
    </tr>
    <tr>
        <td colspan="4">На общую сумму</td>
        <td class="td-total">{{ basket.0.total_cost }}</td>
    </tr>
    </tfoot>
</table>