{% extends 'adminapp/base.html' %}
{% load staticfiles %}

{% block title %}
{{ block.super }} - {{ title }}
{% endblock %}

{% block container %}
<!--<div class="container clr">-->
<div class="container clearfix">
    <div class="hero-back">
        <!-- ====== MENU ====== -->
        {% include 'adminapp/includes/inc__menu.html' %}
        <!-- ====== MENU END ====== -->
        <div class="h2">{{ title }}</div>
    </div>

    <!-- ====== CONTENT ====== -->
    <div class="content">
        <table>
            <thead>
            <tr>
                <th scope="col">Категория</th>
                <th scope="col">Описание</th>
                <th scope="col">Активна</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for object in objects %}
            <tr>
                <th scope="row" ><a href="{% url 'administrator:products' object.pk %}">{{ object.name }}</a></th>
                <td>{{ object.description }}</td>
                <td class="td-total">
                    {% if object.is_active %}
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                    {% else %}
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                    {% endif %}
                </td>
                <td class="td-total">
                    <a href="{% url 'administrator:category_update' object.pk %}">
                        <button class="btn-cat">
                            Изменить
                        </button>
                    </a>
                    {% if object.is_active %}
                    <a href="{% url 'administrator:category_del' object.pk %}">
                        <button class="btn-cat">
                            Отключить
                        </button>
                    </a>
                    {% else %}
                    <a href="{% url 'administrator:category_activate' object.pk %}">
                        <button class="btn-cat">
                            Включить
                        </button>
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
            <tr>
                <td colspan="4" class="td-total">
                    <a href="{% url 'administrator:category_create' %}">
                        <button class="btn-cat">
                            Добавить котегорию
                        </button>
                    </a>
                 </td>
            </tr>
            <tfoot>
            </tfoot>
        </table>
    </div>    <!-- ====== CONTENT END ====== -->
</div>
<!--</div>  ====== CONTAINER END ====== -->
{% endblock %}