{% extends 'adminapp/base.html' %}
{% load staticfiles %}

{% block title %}
{{ block.super }} - {{ title }}
{% endblock %}

{% block container %}
<!--<div class="container clr">-->
<div class="container clearfix">
    <div class="hero-back">
        <!-- ====== MENU ====== -->
        {% include 'adminapp/includes/inc__menu.html' %}
        <!-- ====== MENU END ====== -->
        <div class="h2">{{ title }}</div>
    </div>

    <!-- ====== CONTENT ====== -->
    <div class="content">
        <table>
            <thead>
            <tr>
                <th colspan="5" scope="col">Категория "{{ objects.0.category.name }}"</th>
            </tr>
            <tr>
                <th scope="col">Товар</th>
                <th scope="col">Краткое описание</th>
                <th scope="col">Изображение</th>
                <th scope="col">Цена за ед.</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for object in objects %}
            <tr>
                <th scope="row">{{ object.name }}</th>
                <td>{{ object.short_descript }}</td>
                <td class="td-image">
                    <img class="img_min" src="/media/{{ object.image|default:'products_image/no_image.png' }}" alt="">
                </td>
                <td class="td-price">{{ object.price }}</td>
                <td class="td-total">
                    <button class="btn-cat">
                        <a href="{#% url 'admin:product_update' object.pk %#}">
                            Изменить
                        </a>
                    </button>
                    <button class="btn-cat">
                        <a href="{#% url 'admin:product_del' object.pk %#}">
                            Удалить
                        </a>
                    </button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
            <tr>
                <td colspan="5" class="td-total">
                    <button class="btn-cat">
                        <a href="{#% url 'admin:product_create' %#}">Добавить товар</a>
                    </button>
                </td>
            </tr>
            <tfoot>
            </tfoot>
        </table>
    </div>    <!-- ====== CONTENT END ====== -->
</div>
<!--</div>  ====== CONTAINER END ====== -->
{% endblock %}