{% extends 'adminapp/base.html' %}
{% load staticfiles %}
{% load tags %}

{% block title %}
{{ block.super }} - {{ title }}
{% endblock %}

{% block container %}
<!--<div class="container clr">-->
<div class="container clearfix">
    <div class="hero-back">
        <!-- ====== MENU ====== -->
        {% include 'adminapp/includes/inc__menu.html' %}
        <!-- ====== MENU END ====== -->
        <div class="h2">{{ title }}</div>
    </div>

    <!-- ====== CONTENT ====== -->
    <div class="content">
        <table>
            <thead>
            <tr>
                <th scope="col">Данные о пользователе</th>
                <th scope="col">Контактные данные</th>
                <th scope="col">Аватар</th>
                <th scope="col">Активен</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for object in objects %}
            <tr>
                <td>
                    <p class="{% if object.is_superuser %}u-red{% else %}u-green{% endif %}">
                        {% if object.is_superuser %}
                        администратор
                        {% else %}
                        пользователь
                        {% endif %}</p>
                    <p>Логин: <span>{{ object.username }}</span></p>
                    <p>Имя: <span>{{ object.first_name }}</span></p>
                    <p>Фамилия: <span>{{ object.last_name }}</span></p>
                    <p>Последний вход: <span>{{ object.last_login }}</span></p>
                </td>
                <td>
                    <p>e-mail: <span>{{ object.email }}</span></p>
                    <p>тел.: <span>{{ object.phone }}</span></p>
                </td>
                <td class="td-image">
                    <img class="img_min" src="{{ object.avatar|default_avatar }}" alt="">
                </td>
                <td class="td-total">
                    {% if object.is_active %}
                        <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                    {% else %}
                        <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                    {% endif %}
                </td>
                <td class="td-total">
                    <a href="{% url 'administrator:user_update' object.pk %}">
                        <button class="btn-cat">
                            Изменить
                        </button>
                    </a>
                    {% if object.username != 'django' %}
                    {% if object.is_active %}
                        <a href="{% url 'administrator:user_del' object.pk %}">
                            <button class="btn-cat">
                                Отключить
                            </button>
                        </a>
                        {% else %}
                        <a href="{% url 'administrator:user_activate' object.pk %}">
                            <button class="btn-cat">
                                Включить
                            </button>
                        </a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
            <tr>
                <td colspan="5" class="td-total">
                    <a href="{% url 'administrator:user_create' %}">
                        <button class="btn-cat">Добавить пользователя</button>
                    </a>
                </td>
            </tr>
            <tfoot>
            </tfoot>
        </table>
    </div>    <!-- ====== CONTENT END ====== -->
</div>
<!--</div>  ====== CONTAINER END ====== -->
{% endblock %}