{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block title %}
    {{ block.super }} - {{ title }}
{% endblock%}

{% block container %}
    <div class="container clearfix">
        <div class="hero-back">
            {% include 'mainapp/includes/inc__main_menu.html' %}
            <div class="h2">Наши контакты</div>
        </div>
        <!-- ====== CONTENT ====== --> 
        <div class="content">
            <div class="maps">
                {% for location in locations%}
                <a class="frame">
                   <iframe src="{{ location.map }}" width="370" height="370" frameborder="0" style="border:0" allowfullscreen></iframe>
                    <div class="address">
                      <img src="{% static '/img/geo.png' %}" alt="">
                          <h3>{{ location.country }}</h3>
                            <p><b>Тел:</b> <br> <strong>{{ location.phone }}</strong></p>
                            <p><b>Email:</b> <br> <strong>{{ location.email }}</strong></p>
                            <p><b>Адрес:</b> <br>{{ location.address }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>    <!-- ====== CONTENT END ====== -->
    </div>     <!-- ====== CONTAINER END ====== -->
{% endblock%}