{% extends 'mainapp/base.html' %}
{% load staticfiles %}
{% load tags %}

{% block title %}
    {{ block.super }} - {{ title }}
{% endblock%}

{% block container %}
    <div class="slider trending">
        {% include 'mainapp/includes/inc__main_menu.html' %}
        <div class="block_text">
            <h3><span style="color: #43a047;">ТЕНДЕНЦИИ</span></h3>
            <h2>Конструкторы</h2>
            <p>Уникальные товары оптом и на заказ</p>
            <a class="button_order" href="#">Заказать<img src="{% static '/img/arrow.png' %}" alt=""></a>
        </div>
        <nav>
            <a class="circle" href="#"></a>
            <a class="circle circle_active" href="#"></a>
            <a class="circle" href="#"></a>
        </nav>
    </div>
    <div class="content clearfix">
        <div class="product_header">
            <ul class="menu_content">
                <li><a class="click" href="#">Популярные</a></li>
                <li><a href="#">Новинки</a></li>
            </ul>
            <a class="explore" href="{% url 'products:index' %}">показать все<img src="{% static '/img/arrow.png' %}" alt=""></a>
        </div>
        <div class="preview">
            {% for product in products %}
            <a class="block_pic" href="{% url 'products:product' product.pk %}">
                <img src="{{ product.image|default_image }}" alt="prod">
                <div class="txt">
                    <div class="b_c"><img src="{% static '/img/arrow.png' %}" alt="arrow"></div>
                    <h3>{{product.category.name}}</h3>
                    <p>{{product.short_descript}}</p>
                </div>
            </a>
            {% endfor %}
            <!-- <a class="block_pic" href="#"><img src="{% static '/img/product_owl.jpg' %}" alt="prod">
                <div class="txt">
                    <div class="b_c"><img src="{% static '/img/arrow.png' %}" alt="arrow"></div>
                    <h3>Светильник</h3>
                    <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated
                        black or highly polished chrome.</p>
                </div>
            </a>
            <a class="block_pic" href="#"><img src="{% static '/img/product_plane.jpg' %}" alt="prod">
                <div class="txt">
                    <div class="b_c"><img src="{% static '/img/arrow.png' %}" alt="arrow"></div>
                    <h3>Конструктор</h3>
                    <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated
                        black or highly polished chrome.</p>
                </div>
            </a>
            <a class="block_pic" href="#"><img src="{% static '/img/product_house.jpg' %}" alt="prod">
                <div class="txt">
                    <div class="b_c"><img src="{% static '/img/arrow.png' %}" alt="arrow"></div>
                    <h3>Светильник</h3>
                    <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated
                        black or highly polished chrome.</p>
                </div>
            </a> -->
        </div>
        <div class="exclusive">
            <div class="exclusive_left">
                <div class="block_text_exclusive">
                    <h3>эксклюзив</h3>
                    <h2>Коробка</h2>
                    <p>Коллекционная коробка. Тонировка и гравировка.</p>
                    <a class="button_order" href="#">Заказать<img src="{% static '/img/arrow.png' %}" alt=""></a>
                </div>
            </div>
            <div class="exclusive_right">
                <div class="block_text_exclusive">
                    <h3>эксклюзив</h3>
                    <h2>Светильник</h2>
                    <p>Уникальная форма. Новинка на рынке.</p>
                    <a class="button_order" href="#">Заказать<img src="{% static '/img/arrow.png' %}" alt=""></a>
                </div>
            </div>
        </div>
        <div class="product_header">
            <h2>Популярные товары</h2>
            <a class="explore" href="#">показать все<img src="{% static '/img/arrow.png' %}" alt=""></a>
        </div>
        <div class="pic">
            {% for product in products %}
                <a href="{% url 'products:product' product.pk %}"><img src="{{ product.image|default_image }}" alt=""></a>
            <!-- <a href="#"><img src="{% static '/img/product_truck.jpg' %}" alt=""></a>
            <a href="product_detail.html"><img src="{% static '/img/product_heli.jpg' %}" alt=""></a>
            <a href="#"><img src="{% static '/img/product_owl.jpg' %}" alt=""></a>
            <a href="#"><img src="{% static '/img/product_cone.jpg' %}" alt=""></a>
            <a href="#"><img src="{% static '/img/product_house.jpg' %}" alt=""></a>
            <a href="#"><img src="{% static '/img/product_plane.jpg' %}" alt=""></a> -->
            {% endfor %}
        </div>
        <div class="slider hot_deal">
            <div class="block_text">
                <h3>ГОРЯЧЕЕ ПРЕДЛОЖЕНИЕ</h3>
                <h2>Ночники</h2>
                <p>Экологически чистые материалы. С регулирвкой освещенности.</p>
                <a class="button_order" href="#">Заказать<img src="{% static '/img/arrow.png' %}" alt=""></a>
            </div>
            <nav>
                <a class="circle" href="#"></a>
                <a class="circle circle_active" href="#"></a>
                <a class="circle" href="#"></a>
            </nav>
        </div>
        <div class="exclusive_product clearfix">
            <div class="img_left">
                <div class="block_text_exclusive pr_c">
                    <h3>эксклюзив</h3>
                    <h2>Светильник</h2>
                    <p>Уникальная форма. Новинка на рынке.</p>
                    <a class="button_order" href="#">Заказать<img src="{% static '/img/arrow.png' %}" alt=""></a>
                </div>
            </div>
            <div class="products">
                <a href=""><img src="{% static '/img/product_heli.jpg' %}" alt=""></a>
                <div></div>
                <a href=""><img src="{% static '/img/product_house.jpg' %}" alt=""></a>
                <a href=""><img src="{% static '/img/product_owl.jpg' %}" alt=""></a>
                <div></div>
                <a href=""><img src="{% static '/img/product_truck.jpg' %}" alt=""></a>
            </div>
        </div>
        <!-- <div class="back">
            <div class="back_text">
                <h3>mobile app</h3>
                <h2>find. follow. favorite.</h2>
                <p>Save your favorites and share your style.</p>
                <a href=""><img src="{% static '/img/app-store.jpg" alt=""></a>
                <a href=""><img src="{% static '/img/google-play.jpg" alt=""></a>
            </div>
        </div>-->
    </div> <!-- ====== CONTENT END ====== -->
{% endblock %}