{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block title %}
{{ block.super }} - {{ title }}
{% endblock%}

{% block container %}
<!-- ====== CONTAINER ====== -->
<div class="container clearfix">
    <!--<div class="hero-back">-->
        {% include 'mainapp/includes/inc__main_menu.html' %}
        <!--<div class="h2">Каталог товаров</div>-->
    <!--</div>-->

    <!-- ====== CONTENT ====== -->
    <div class="content">
        {% include 'mainapp/includes/inc__menu_content.html' %}
        {% if products %}
            <div class="product_header">
                {% if request.resolver_match.args.0 == '0' %}
                    <h2>Каталог</h2>
                {% else %}
                    <h2>{{ products.0.category.name }}</h2>
                {% endif %}
                <!--<a class="explore" href="#">показать все<img src="{% static '/img/arrow.png' %}" alt=""></a>-->
            </div>
            <div class="pic prod">
                {% for product in products %}
                    <a href="{% url 'basket:product_add' product.pk %}">
                        <img src="/media/{{product.image|default:'products_image/no_image.png'}}" alt="">
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>    <!-- ====== CONTENT END ====== -->
</div>     <!-- ====== CONTAINER END ====== -->
{% endblock %}
