{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block title %}
{{ block.super }} - {{ title }}
{% endblock%}

{% block container %}
<!-- ====== CONTAINER ====== -->
<div class="container clearfix">
    <!--<div class="hero-back">-->
    {% include 'mainapp/includes/inc__main_menu.html' %}
    <!--<div class="h2">Каталог товаров</div>-->
    <!--</div>-->

    <!-- ====== CONTENT ====== -->
    <div class="content">
        {% include 'mainapp/includes/inc__menu_content.html' %}
        <div class="product">
            {% include 'mainapp/includes/inc__product_detail.html' %}
        </div>

        <div class="product_header">
            <h2>Похожие товары</h2>
            <a class="explore" href="#">показать все<img src="{% static '/img/arrow.png' %}" alt=""></a>
        </div>
        <div class="pic">
            {% for product in same_products %}
                <a href="{% url 'products:product' product.pk %}"><img src="/media/{{ product.image }}" alt=""></a>
            <!--<a href="#"><img src="img/product-21.jpg" alt=""></a>-->
            <!--<a href="#"><img src="img/product-31.jpg" alt=""></a>-->
            {% endfor %}
        </div>
    </div>    <!-- ====== CONTENT END ====== -->
</div>     <!-- ====== CONTAINER END ====== -->
{% endblock %}